.common-swiper-container {
  padding-bottom: 0px !important;
}

.common-swiper-container .swiper-pagination {
  position: relative !important;
  bottom: 0 !important;
  left: 0 !important;
  transform: none !important;
  margin-top: 16px !important;
  display: flex !important;
  justify-content: center !important;
  gap: 8px !important;
  width: auto !important;
}

.common-swiper-container .swiper-pagination-bullet {
  background: black !important;
  opacity: 1 !important;
  height: 7px !important;
  width: 7px !important;
  border-radius: 50% !important;
  cursor: pointer !important;
}

.common-swiper-container .swiper-pagination-bullet-active {
  background: #bd302b !important;
  width: 7px !important;
  height: 7px !important;
}
